<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>SuperDex</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'pokeball.ico' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style/css/media-queries.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style/js/player/mediaelementplayer.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="{% static 'style/js/jquery-1.7.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/ddsmoothmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/selectnav.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.backstretch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/mediaelement.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/mediaelementplayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.dcflickr.1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/twitter.min.js' %}"></script>
<script type="text/javascript">
	$.backstretch("{% static 'style/images/bg/pokedex-booting_mod.jpg' %}");
</script>
</head>
<body>
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <a href="/pokemon">
				<img src="{% static 'style/images/Superdex_logo.png' %}" alt="" />
			</a>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
                    <li><a href="/pokemon/comparison">Compare</a>
                    </li>
					<li><a href="/pokemon">Search</a>
					</li>
					<li><a href="/pokemon/settings.html">Settings</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<!--<ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul> --><!-- End Intro --> 

{% if pokemon %}
{% else %}
<!-- Begin Container -->
<div class="box">

<div class="widget widget_search">
				<h3 class="widget-title">Who's that Pokémon?</h3>
				<form class="searchform" method="get" action="/search/">
					<input type="text" name="q" placeholder="type and hit enter" required/>
				</form>
			</div>
			<a href="main_search_compare.html">Want to compare two Pokémon?</a><br />
			<br />

		</div>
		<br />
		<div class="clear"></div>

</div>
<!-- End Container -->
{% endif %}
<!-- Begin Container -->
<div class="box">
<h1 class="title">{{ pokemon.name }}</h1>
<h2 class="title">#{% if pokemon.number < 10 %}
						00{{ pokemon.number}}
					{% elif pokemon.number < 100 %}
						0{{pokemon.number}}
					{% else %}
						{{ pokemon.number }}
					{% endif %}, The {{ pokemon.nickname }}</h2>
		
		<div class="one-third">
			<div class="outer none"><span class="inset">
				<img src={{ pokemon.imageurl }}></span></div>
            <br />
            <h6>Type</h6>
				<p>{{ pokemon.poke_type }}</p>
				<hr />

            <h6>Evolution</h6>
                <ul>
                    <li>Evolves from: {% if evo_from %}
                                        {{ evo_from.pokemon_id1.name }} - ({{evo_from.how}}
                                    {% else %}
                                        N/A
                                    {% endif %}</li>
                    <li>Evolves into: {% if evo_to %}
                                        {{ evo_to.pokemon_id2.name }} - ({{evo_to.how}}
                                    {% else %}
                                        N/A
                                    {% endif %}</li>
                </ul>
				<hr />
            <h6>Ability</h6>
                <ul>
                    {% for ability in abilities %}
                        <li> {{ ability.name }} - {{ability.description}}</li>
                    {% endfor %}
                </ul>

				<hr />
            <h6>Height / Weight</h6>
				<p>{{ pokemon.height_ft }}, {{ pokemon.height_m }} / {{ pokemon.weight_lbs }}, {{ pokemon.weight_kg }}</p>
				<hr />
            <h3><a id="catch"></a>Catching this Pokémon</h3>
			<h6>Catch Rate</h6>
			<p>{{ pokemon.catchrate }}</p>
			<hr />
			<h6>Gender Ratio</h6>
			<p>{{ pokemon.genderratio }}</p>
			<hr />
		<h3><a id="hatch"></a>Hatching this Pokémon</h3>
			<h6>Egg Group</h6>
			<p>{{ pokemon.egggroups }}</p>
			<hr />
		</div>
		
		<div class="two-third last">
			<h3>Who's that Pokémon?</h3>
			{% for role in role_list %}
                 <h6>{{ pokemon.name }} could make a great {{role.0.name}} because it has superior {{role.0.reqStats}}</h6>
                    <p>If you use {{ pokemon.name }} as a {{role.0.name}}  </p>
                    <ul>
                        <li>Suggested Nature: {{role.0.suggNat}} </li>
                        <li>Suggested Moves: {{role.0.impMoves}}</li>
                        <li>Companion Pokémon: {{role.1}}</li>
                    </ul>
            {% endfor %}

			Navigate to: <a href="#catch">Catching this Pokémon</a>, <a href="#battle">Battling with this Pokémon</a>, <a href="#hatch">Hatching this Pokémon</a>, <a href="#learnset">Learnset</a>
			<hr />


		
		<h3><a id="battle"></a>Battling with this Pokémon </h3>
		<h6>Type Effectiveness</h6>
				<ul>
					{% with effective=Pokemon_type.get_effectiveness %}
					<li>Damaged normally by: {% if not effective.0 %}
												None
											{% endif %}
											{%for item in effective.0 %}
												{{item}},
											{% endfor %}</li>
					<li>Weak to: {% if not effective.1 %}
												None
											{% endif %}
											{%for item in effective.1 %}
												{{item}},
												{% endfor %} </li>
					<li>Immune to: {% if not effective.2 %}
												None
											{% endif %}
											{%for item in effective.2 %}
												{{item}},
											{% endfor %}</li>
					<li>Resistant to: {% if not effective.3 %}
												None
											{% endif %} 
											{%for item in effective.3 %}
												{{item}},
											{% endfor %}</li>
					{% endwith %}
				</ul>
			<hr />
		<h3> Training this Pokémon </h3>
		<h6>Base Stats (out of 255)</h6>
			<table>
			<tr>
			<td>
				<table>
				<tr>
				<th style="width: 75px;">HP</a>:
				</th>
				<th style="width: 30px;"> {{ pokemon.basehp }}
				</th>
				<td style="background: #FF0000; width: {{ pokemon.basehp }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<td>
				<table>
				<tr>
				<th style="width: 75px;">Attack:
				</th>
				<th style="width: 30px;"> {{ pokemon.baseattack }}
				</th>
				<td style="background: #F08030; width: {{ pokemon.baseattack }}px;">
				</td>
				</tr>
				</table>
			</td>
			</tr>
			<tr>
			<td>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Defense:
				</th>
				<th style="width: 30px;"> {{ pokemon.basedefense }}
				</th>
				<td style="background: #F8D030; width: {{ pokemon.basedefense }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<td>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;">Sp.Atk:
				</th>
				<th style=" width: 30px;"> {{ pokemon.basespattack }}
				</th>
				<td style="background: #6890F0; width: {{ pokemon.basespattack }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<td>
			<table cellspacing="0" cellpadding="0">
			<tr>
			<th style="width: 75px;"> Sp.Def:
			</th>
			<th style="width: 30px;"> {{ pokemon.basespdefense }}
			</th>
			<td style="background: #78C850; width: {{ pokemon.basespdefense }}px;">
			</td></tr></table>
			</td></tr>
			<tr>
			<td>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Speed:
				</th>
				<th style="width: 30px;"> {{ pokemon.basespeed }}
				</th>
				<td style="background: #F85888; width: {{ pokemon.basespeed }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<td>
				<table width="100%">
				<tr>
				<th style="width: 75px;"> Total:
				</th>
				<th style="width: 30px;"> {{ pokemon.basetotal }}
				</th>
				<td style="width: 255px;"> 
				</td></tr></table>
			</td></tr>
			</table>
			<hr />
			<h6><a id="learnset"></a>Learnset by Level</h6>
			<table width="100%">
				<tr>
				<th>Level</th>
				<th>Move</th>
				<th>Type</th>
				<th>Category</th>
				<th>Power</th>
				<th>Accuracy</th>
				<th>PP</th>
				</tr>
				{% for level, move in zip_level%}
				<tr>
					<td>{{ level }}</td>
					<td>{{ move.name }}</td>
					<td>{{ move.move_type }}</td>
					<td>{{ move.category }}</td>
					<td>{{ move.power }}</td>
					<td>{{ move.accuracy }}</td>
					<td>{{ move.pp }}</td>
				</tr>
				{% endfor %}
			</table>
			<hr />
			<h6>Learnset by TM</h6>
			<table width="100%">
				<tr>
				<th>TM</th>
				<th>Move</th>
				<th>Type</th>
				<th>Category</th>
				<th>Power</th>
				<th>Accuracy</th>
				<th>PP</th>
				</tr>
				<tr>
				{% for TM, move in zip_TM%}
				<tr>
					<td>{{TM}}</td>
					<td>{{ move.name }}</td>
					<td>{{ move.move_type }}</td>
					<td>{{ move.category }}</td>
					<td>{{ move.power }}</td>
					<td>{{ move.accuracy }}</td>
					<td>{{ move.pp }}</td>
				</tr>
				{% endfor %}
				</tr>
			</table>
			<hr />
			<div class="one-half">
				
				<h6>Base Friendship</h6>
					<p>{{ pokemon.basefriendship }}</p>
					<hr />
			</div>	
			<div class="one-half last">
				<h6>EV Yield</h6>
				<ul>
							<li>HP: {{ pokemon.evhp }}</li>
							<li>Atk: {{ pokemon.evattack }}</li>
							<li>Def: {{ pokemon.evdefense }}</li>
							<li>Sp.Atk: {{ pokemon.evspattack}}</li>
							<li>Sp.Def: {{ pokemon.evspdefense }}</li>
							<li>Speed: {{ pokemon.evspeed }}</li>
						</ul>
				<hr />
			</div>	
			
		</div>
</div>
		<div class="clear"></div>

</div>
<!-- End Container -->

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="site-generator-wrapper">
	<div class="site-generator">
        <p id="copyright" property="dc:rights">&copy;
        <span property="dc:dateCopyrighted">2014</span>
        <span property="dc:publisher">Devon Balicki, Yat Fung Cheng, Dalton Johnson, and Jeffrey Zhu. All rights reserved.</span>
        </p>
		Template Design Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved. Pokedex Wallpaper distributed by <a href="http://www.superbwallpapers.com/games/pokedex-booting-15992/">Superb Wallpapers </a></div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>
</body>
</html>
