<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>SuperDex</title>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style/css/media-queries.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style/js/player/mediaelementplayer.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="{% static 'style/js/jquery-1.7.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/ddsmoothmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/selectnav.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.backstretch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/mediaelement.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/mediaelementplayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.dcflickr.1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/twitter.min.js' %}"></script>
<script type="text/javascript">
	$.backstretch("{% static 'style/images/bg/pokedex-booting_mod.jpg' %}");
</script>
</head>
<body>
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <a href="main_search.html">
				<img src="{% static 'style/images/Superdex_logo.png' %}" alt="" />
			</a>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
					<li><a href="main_search.html">Search</a>
					</li>
					<li><a href="">Settings</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<!--<ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul> --><!-- End Intro --> 

<!-- Begin Container -->
<div class="box">
	<div class="intro">
		<div class="outer none">
		<ul class="social">
			<li> <h1> {{ pokemon1.name }} vs {{ pokemon2.name }}</li>
			<li><span class="inset"><img src="{{ pokemon1.imageurl }}"/></span></li>
			<li><span class="inset"><img src="{{ pokemon2.imageurl }}"/></span></li>
		</div>
		<h1 class="title">{{ pokemon_stat.name}} is the stronger Pokémon</h1>
	</div>
	<p> {{ pokemon_stat.name }}  was chosen as the stronger Pokémon, because of *its superior stats* and *fewer type weaknesses*. </p>
	<div class="clear"></div>
	<div class="one-half">
	<h4> Key Similarties </h4>	
		<ul>
			<li>Similarity</li>
			<li>Similarity</li>
			<li>Similarity</li>
			<li>Similarity</li>
			<li>Similarity</li>
		</ul>
	
	</div>

	<div class="one-half last">
	<h4> Key Differences </h4>
		<ul>
			<li>Difference</li>
			<li>Difference</li>
			<li>Difference</li>
			<li>Difference</li>
			<li>Difference</li>
		</ul>
	
	
	</div>
	<hr />
	<br />
	<h4> Comparison by Base Stats </h4>
	<p>{% if pokemon1.basetotal >= pokemon2.basetotal %}
					{{ pokemon1.name }}
				{% else %}
					{{ pokemon2.name }}
				{% endif %} has better overall stats. </p>
	<table>
			<tr>
				<th>{{ Pokémon1 }}</th>
				<th>{{ Pokémon2 }}</th>
			</tr>
			<tr>
			<td <td{% if pokemon1.basehp >= pokemon2.basehp %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon1 HP stat -->
				<table>
				<tr>
				<th style="width: 75px;">HP</a>:
				</th>
				<th style="width: 30px;"> {{ pokemon1.basehp }}
				</th>
				<td style="background: #FF0000; width: {{ pokemon1.basehp }}px;">
				</td></tr></table>
			</td>
			<td{% if pokemon1.basehp <= pokemon2.basehp %}
					class="lite1"
				{% endif %}	>
				<!-- Pokémon2 HP stat -->
				<table>
				<tr>
				<th style="width: 75px;">HP</a>:
				</th>
				<th style="width: 30px;"> {{ pokemon2.basehp }}
				</th>
				<td style="background: #FF0000; width: {{ pokemon2.basehp }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<td{% if pokemon1.baseattack >= pokemon2.baseattack %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon1 Attack stat -->
				<table>
				<tr>
				<th style="width: 75px;">Attack:
				</th>
				<th style="width: 30px;"> {{ pokemon1.baseattack }}
				</th>
				<td style="background: #F08030; width: {{ pokemon1.baseattack }}px;">
				</td>
				</tr>
				</table>
			</td>

			<td{% if pokemon1.baseattack <= pokemon2.baseattack %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon2 Attack stat -->
				<table>
				<tr>
				<th style="width: 75px;">Attack:
				</th>
				<th style="width: 30px;"> {{ pokemon2.baseattack }}
				</th>
				<td style="background: #F08030; width: {{ pokemon2.baseattack }}px;">
				</td>
				</tr>
				</table>
			</td>
			
			</tr>
			<tr>
			<td{% if pokemon1.basedefense >= pokemon2.basedefense %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon1 Defense stat -->
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Defense:
				</th>
				<th style="width: 30px;"> {{ pokemon1.basedefense }}
				</th>
				<td style="background: #F8D030; width: {{ pokemon1.basedefense }}px;">
				</td></tr>
				</table>
			</td>
			<td{% if pokemon1.basedefense <= pokemon2.basedefense %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon2 Defense stat -->
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Defense:
				</th>
				<th style="width: 30px;"> {{ pokemon2.basedefense }}
				</th>
				<td style="background: #F8D030; width: {{ pokemon2.basedefense}}px;">
				</td></tr>
				</table>
			</td>
			</tr>
			<tr>
			<td{% if pokemon1.basespattack >= pokemon2.basespattack %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon1 Sp.Atk stat -->
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;">Sp.Atk:
				</th>
				<th style=" width: 30px;"> {{ pokemon1.basespattack }}
				</th>
				<td style="background: #6890F0; width: {{ pokemon1.basespattack }}px;">
				</td></tr>
				</table>
			</td>
			<td{% if pokemon1.basespattack <= pokemon2.basespattack %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon2 Sp.Atk stat -->
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;">Sp.Atk:
				</th>
				<th style=" width: 30px;"> {{ pokemon2.basespattack }}
				</th>
				<td style="background: #6890F0; width: {{ pokemon2.basespattack }}px;">
				</td></tr>
				</table>
			</td>
			</tr>
			<tr>
			<!-- Pokémon1 Sp.Def stat -->
			<td{% if pokemon1.basespdefense >= pokemon2.basespdefense %}
					class="lite1"
				{% endif %}	>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Sp.Def:
				</th>
				<th style="width: 30px;"> {{ pokemon1.basespdefense }}
				</th>
				<td style="background: #78C850; width: {{ pokemon1.basespdefense }}px;">
				</td></tr></table>
			</td>
			<!-- Pokémon2 Sp.Def stat -->
			<td{% if pokemon1.basespdefense <= pokemon2.basespdefense %}
					class="lite1"
				{% endif %}	>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Sp.Def:
				</th>
				<th style="width: 30px;"> {{ pokemon2.basespdefense }}
				</th>
				<td style="background: #78C850; width: {{ pokemon2.basespdefense }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<td{% if pokemon1.basespeed >= pokemon2.basespeed %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon1 Speed stat -->
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Speed:
				</th>
				<th style="width: 30px;"> {{ pokemon1.basespeed }}
				</th>
				<td style="background: #F85888; width: {{ pokemon1.basespeed }}px;">
				</td></tr></table>
			</td>
			<td{% if pokemon1.basespeed <= pokemon2.basespeed %}
					class="lite1"
				{% endif %}	>
			<!-- Pokémon2 Speed stat -->
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Speed:
				</th>
				<th style="width: 30px;"> {{ pokemon2.basespeed }}
				</th>
				<td style="background: #F85888; width: {{ pokemon2.basespeed }}px;">
				</td></tr></table>
			</td>
			</tr>
			<tr>
			<!--Pokémon1 total stat -->
			<td {% if pokemon1.basetotal >= pokemon2.basetotal %}
					class="lite1"
				{% endif %}	>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Total:
				</th>
				<th style="width: 30px;"> {{ pokemon1.basetotal }}
				</th>
				<td style="width: 255px;"> 
				</td></tr></table>
			</td>
			<!--Pokémon2 total stat -->
			<td {% if pokemon1.basetotal <= pokemon2.basetotal %}
					class="lite1"
				{% endif %}	>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th style="width: 75px;"> Total:
				</th>
				<th style="width: 30px;"> {{ pokemon2.basetotal }}
				</th>
				<td style="width: 255px;"> 
				</td></tr></table>
			</td>
			</tr>
		</table>				
	<br />
	<hr>
	<h4> Comparison by Abilities </h4>
	<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	
	<table width="100%">
		<tr>
			<td></td>
			<th>{{ pokemon1.name }}</th>
			<th>{{ pokemon2.name }}</th>
		</tr>
		{% for ability in ability_comp %}
		<tr>
			<th class="compare">Ability #{{forloop.counter}}</th>
			<td>{{ability.0.name}} - {{ability.0.description}}</td>
			<td>{{ability.1.name}} - {{ability.1.description}}</td>
		</tr>
		{% endfor %}
		
	</table>
	<hr />
	<h4> Comparison by Type Weaknesses </h4>
	<p>PokémonX* has less type weaknesses.</p>
	<table width="100%">
		<tr>
			<td></td>
			<th>{{ pokemon1.name }}</th>
			<th>{{ pokemon2.name }}</th>
		</tr>
		<tr>
			<th class="compare">Type</th>
			<td>{{ pokemon1.poke_type }} </td>
			<td>{{ pokemon2.poke_type }} </td>
		</tr>
		<tr>
			<th>Normal</th>
			<td{% if type1.Normal < type2.Normal %}
					class="lite1"
				{% endif %}	>{{ type1.Normal }}x</td>
			<td{% if type1.Normal > type2.Normal %}
					class="lite1"
				{% endif %}	>{{ type2.Normal }}x</td>
		</tr>
		<tr>
			<th>Fire</th>
			<td{% if type1.Fire < type2.Fire %}
					class="lite1"
				{% endif %}>{{ type1.Fire }}x</td>
			<td{% if type1.Fire > type2.Fire %}
					class="lite1"
				{% endif %}	>{{ type2.Fire }}x</td>
		</tr>
		<tr>
			<th>Water</th>
			<td{% if type1.Water < type2.Water %}
					class="lite1"
				{% endif %}>{{ type1.Water }}x</td>
			<td{% if type1.Water > type2.Water %}
					class="lite1"
				{% endif %}>{{ type2.Water }}x</td>
		</tr>
		<tr>
			<th>Electric</th>
			<td{% if type1.Electric < type2.Electric %}
					class="lite1"
				{% endif %}>{{ type1.Electric }}x</td>
			<td{% if type1.Electric > type2.Electric %}
					class="lite1"
				{% endif %}>{{ type2.Electric }}x</td>
		</tr>
		<tr>
			<th>Grass</th>
			<td{% if type1.Grass < type2.Grass %}
					class="lite1"
				{% endif %}>{{ type1.Grass }}x</td>
			<td{% if type1.Grass > type2.Grass %}
					class="lite1"
				{% endif %}>{{ type2.Grass }}x</td>
		</tr>
		<tr>
			<th>Ice</th>
			<td{% if type1.Ice < type2.Ice %}
					class="lite1"
				{% endif %}>{{ type1.Ice }}x</td>
			<td{% if type1.Ice > type2.Ice %}
					class="lite1"
				{% endif %}>{{ type2.Ice }}x</td>
		</tr>
		<tr>
			<th>Fighting</th>
			<td{% if type1.Fighting < type2.Fighting %}
					class="lite1"
				{% endif %}>{{ type1.Fighting }}x</td>
			<td{% if type1.Fighting > type2.Fighting %}
					class="lite1"
				{% endif %}>{{ type2.Fighting }}x</td>
		</tr>
		<tr>
			<th>Poison</th>
			<td{% if type1.Poison < type2.Poison %}
					class="lite1"
				{% endif %}>{{ type1.Poison }}x</td>
			<td{% if type1.Poison > type2.Poison %}
					class="lite1"
				{% endif %}>{{ type2.Poison }}x</td>
		</tr>
		<tr>
			<th>Ground</th>
			<td{% if type1.Ground < type2.Ground %}
					class="lite1"
				{% endif %}>{{ type1.Ground }}x</td>
			<td{% if type1.Ground > type2.Ground %}
					class="lite1"
				{% endif %}>{{ type2.Ground }}x</td>
		</tr>
		<tr>
			<th>Flying</th>
			<td{% if type1.Flying < type2.Flying %}
					class="lite1"
				{% endif %}>{{ type1.Flying }}x</td>
			<td{% if type1.Flying > type2.Flying %}
					class="lite1"
				{% endif %}>{{ type2.Flying }}x</td>
		</tr>
		<tr>
			<th>Psychic</th>
			<td{% if type1.Psychic < type2.Psychic %}
					class="lite1"
				{% endif %}>{{ type1.Psychic }}x</td>
			<td{% if type1.Psychic > type2.Psychic %}
					class="lite1"
				{% endif %}>{{ type2.Psychic }}x</td>
		</tr>
		<tr>
			<th>Bug</th>
			<td{% if type1.Bug < type2.Bug %}
					class="lite1"
				{% endif %}>{{ type1.Bug }}x</td>
			<td{% if type1.Bug > type2.Bug %}
					class="lite1"
				{% endif %}>{{ type2.Bug }}x</td>
		</tr>
		<tr>
			<th>Rock</th>
			<td{% if type1.Rock < type2.Rock %}
					class="lite1"
				{% endif %}>{{ type1.Rock }}x</td>
			<td{% if type1.Rock > type2.Rock %}
					class="lite1"
				{% endif %}>{{ type2.Rock }}x</td>
		</tr>
		<tr>
			<th>Ghost</th>
			<td{% if type1.Ghost < type2.Ghost %}
					class="lite1"
				{% endif %}>{{ type1.Ghost }}x</td>
			<td{% if type1.Ghost > type2.Ghost %}
					class="lite1"
				{% endif %}>{{ type2.Ghost }}x</td>
		</tr>
		<tr>
			<th>Dragon</th>
			<td{% if type1.Dragon < type2.Dragon %}
					class="lite1"
				{% endif %}>{{ type1.Dragon }}x</td>
			<td{% if type1.Dragon > type2.Dragon %}
					class="lite1"
				{% endif %}>{{ type2.Dragon }}x</td>
		</tr>
		<tr>
			<th>Dark</th>
			<td{% if type1.Dark < type2.Dark %}
					class="lite1"
				{% endif %}>{{ type1.Dark }}x</td>
			<td{% if type1.Dark > type2.Dark %}
					class="lite1"
				{% endif %}>{{ type2.Dark }}x</td>
		</tr>
		<tr>
			<th>Steel</th>
			<td{% if type1.Steel < type2.Steel %}
					class="lite1"
				{% endif %}>{{ type1.Steel }}x</td>
			<td{% if type1.Steel > type2.Steel %}
					class="lite1"
				{% endif %}>{{ type2.Steel }}x</td>
		</tr>
		<tr>
			<th>Fairy</th>
			<td{% if type1.Fairy < type2.Fairy %}
					class="lite1"
				{% endif %}>{{ type1.Fairy }}x</td>
			<td{% if type1.Fairy > type2.Fairy %}
					class="lite1"
				{% endif %}>{{ type2.Fairy }}x</td>
		</tr>
	</table>
	<br />

	
		
</div>
		<div class="clear"></div>

</div>
<!-- End Container -->

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="site-generator-wrapper">
	<div class="site-generator">SuperDex is a CS473 Project by Devon Balicki, James Cheng, Dalton Johnson, and Jeff Zhu <br />
		Template Design Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved. Pokedex Wallpaper distributed by <a href="http://www.superbwallpapers.com/games/pokedex-booting-15992/">Superb Wallpapers </a></div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>
</body>
</html>
